

.logo{
    margin-left: 2rem;
    display: flex;
    height: 5rem; 
    width: 3rem
}


.logo-image{
    width: 30%;
    height: 70%;
}

.main-header {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}