.parent{
    width: 90%;
    max-width: 40rem;
    background-color: #00aebd;
    border: 0.15rem solid #000;
  
    box-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    margin: 4rem auto;
}

.addSongtitleBar {
    background: #c0c0c0;
    height: 2.5rem;
    position: absolute;
    bottom: 0;
    width: calc(100% - 1rem);
    display: flex;
    padding: 0.5rem;
    z-index: 999999999;
    justify-content: space-between;
    box-shadow: 0 -2px #fffdfc, 0 -4px #cce9eb;
}

.help{
    background: #7C7C7C;
	border-bottom: 0.07rem inset rgba(0,0,0,.5);
	border-left:  0.07rem inset rgba(0,0,0,.5);
	border-right: 0.07rem inset rgba(255,255,255,.5);
	border-top: 0.07rem inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 0.5rem; 
	min-width: 2rem;
	width: auto;
}

.Test{
   
}

 