.music-gallery {
    display: flex;
    margin: 20px;
    font-family: Arial, sans-serif;
    align-items: flex-start; /* Keeps the main container items starting from the top */
}

.music-gallery-header, .playlist-content-header {
    font-weight: bold;
    color: #000000;
}
.music-gallery-header {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px; 
}

.playlist-content-header {
    font-size: 18px; 
    margin-top: 5px;
    margin-bottom: 10px;
}

.playlist-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.playlist-links div {
    margin-bottom: 10px;
}

.playlist-link {
    text-decoration: none; /* Removes underline from links */
    color: #000;
    font-size: 18px;
    cursor: pointer; /* Cursor changes to pointer to indicate clickable */
    transition: color 0.3s ease; /* Smooth color transition for hover effect */
}

.playlist-link:hover {
    color: #ff0000;
}

.playlist-menu, .playlist-content {
    display: flex;
    flex-direction: column;
    align-items: baseline; 
    justify-content: space-between; 
    height: 100%; 
    padding-right: 20px;
    padding-left: 20px; 
}

.selected-playlist li {
    position: relative;
    padding-left: 20px;
    padding-bottom: 5px;
    list-style: none;
}

.selected-playlist li::before {
    content: ''; /* Necessary for the pseudo-element to show */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg); /* Rotates the arrow */
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid black;
}
