canvas {
    width: 100% !important; /* Ensure the canvas takes the full width */
    height: 100% !important; /* Ensure the canvas takes the full height */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }