.draggable-window-add-song {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.parent{
        width:50%;
        justify-content: center;
}

.window-title{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  
}

span.newSong{
    margin-left: 1rem;
}

button.help{
    margin-top: 0.25rem;
    margin-bottom: 0;
}

.song-title{
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
}

.notes{
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.gFeJFO{
    width:100%;
    height:100%;
}

.addsong-body {
    display: flex;
    height:58.8rem
}
  
.icons-menu {
    flex:1;
 /*background-color: lightblue; /* Just for visibility */
    
}

.space{
    flex: 7.5; 
}
  
.sc-fhzEvr.heDfsD.add-song-window-content {
    

  padding-top: 0rem;
  }

  .add-song-window{
    padding: 2rem, 2rem, 2rem;
    width:70%;
    height: 85%;
    margin-left: 3rem;
    margin-top: 1rem;
    
  }

  .buffer{
    height:2rem;
  }

  .icon{
    display: flex;
    flex-direction: column; /* Align items as a column */
  justify-content: center; /* Optional: Center vertically within the parent */
  align-items: center;
  }

  .mp3-button{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .cover-button{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .other-genres{
    display: flex;
    justify-content: space-between;

  }
 
  .space-2{
    flex:1;
  }

  .add-song-space{
    flex:7.5;
  }

  .notes-scroll{
    width:70%;
    height: 7rem;
  }

  .input-field-notes{
    width: 100%;
    height: 100%;
  }

  .save-cancel{
    width: 10rem;
    display: flex;
    justify-content: space-between;
    padding-top: 3.5rem;
  }

  .add-song-close-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: -1px;
    margin-top: -1px;
    transform: rotateZ(45deg);
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      background: black;
    }
    &:before {
      height: 100%;
      width: 3px;
      left: 50%;
      transform: translateX(-50%);
    }
    &:after {
      height: 3px;
      width: 100%;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }