.internet-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.internet-button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px; /* Adjust margin as needed */
}

.internet-text {
  margin-bottom: 10px; /* Optional: Add spacing between text and buttons */
}
