body {
    background-color: #ffcadc; 
}

.login-container {
    display: grid;
    justify-content: center; 
    margin-top: 10%; /* höhe des Containers */
}

.login-window {
    width: 100%; /* Die Breite des Elements auf 100% des übergeordneten Elements setzen */
    height: 100%; /* Die Höhe des Elements auf 100% des übergeordneten Elements setzen */
}

.title-bar {
    padding: 4%; /* Innenabstand innerhalb des Elements auf 2% setzen */
}

.content {
    padding: 0%; /* Innenabstand innerhalb des Elements auf 3% setzen */
}

.button-container {
    display: flex; /* Verwende das Flexbox-Layout-System */
    justify-content: space-between; /* Verteile die Schaltflächen gleichmäßig mit Platz dazwischen */
    margin-top: 1%; /* Abstand vom oberen Rand des Containers */
}

.button-container button {
    flex: 1; /* Jede Schaltfläche nimmt den gleichen Platz ein */
    margin: 1%; /* Abstand um jede Schaltfläche herum */
}

.checkbox-container {
    display: flex; /* Verwende das Flexbox-Layout-System */
    justify-content: space-between; /* Verteile die Checkbox und das Label gleichmäßig */
    align-items: center; /* Richte die Checkbox und das Label zentriert aus */
    margin-top: 1rem; /* Abstand vom oberen Rand des Containers */
}

.forgot-password {
    color: black; /* Textfarbe auf Schwarz setzen */
    cursor: pointer; /* Zeiger-Cursor anzeigen, um anzuzeigen, dass es klickbar ist */
    margin-left: auto; /* Automatische linke Margine, um das Element nach rechts zu schieben */
}

.forgot-password:hover {
    color: #3366ff; /* Ändere die Textfarbe bei Hover auf Blau */
}

.login-header {
    margin-top: 37.7vh; /* Abstand vom oberen Rand des Containers in Viewport-Höhe (vh) */
    width: 100%; /* Die Breite des Elements auf 100% des übergeordneten Elements setzen */
    display: flex; /* Verwende das Flexbox-Layout-System */
    justify-content: center; /* Zentriere den Inhalt horizontal */
    align-items: center; /* Zentriere den Inhalt vertikal */
}
