body {
    background-color: #5f5f5fc8; 
  }
  
  .login-container {
    position: absolute; /* Make the container absolutely positioned */
    top: 50%; /* Position it in the middle vertically */
    left: 50%; /* Position it in the middle horizontally */
    transform: translate(-50%, -50%); /* Center it */
    display: grid;
    justify-content: center; 
  }

  
  .login-window {
    width: 550px; /* The width of the element to 100% of the parent element */
    height: 100%; /* The height of the element to 100% of the parent element */

  }

  .button-container {
    display: flex; /* Use the Flexbox layout system */
    justify-content: space-between; /* Distribute buttons evenly with space between */
    margin-top: 2%; /* Space from the top edge of the container */
  }
  
  .button-container button {
    flex: 1; /* Each button takes up the same amount of space */
    margin: 1%; /* Space around each button */
  }
  
  .checkbox-container {
    display: flex; /* Use the Flexbox layout system */
    justify-content: space-between; /* Distribute the checkbox and label evenly */
    align-items: center; /* Center align the checkbox and label */
    margin-top: 1rem; /* Space from the top edge of the container */
  }
  
  .forgot-password {
    
    cursor: pointer; /* Show pointer cursor to indicate it is clickable */
    margin-left: auto; /* Automatically margin-left to push the element to the right */
  }
  
  .forgot-password:hover {
    color: #3366ff; /* Change text color to blue on hover */
  }
  
  .login-header {
    margin-top: 37.7vh; /* Space from the top edge of the container in viewport height */
    width: 100%; /* The width of the element to 100% of the parent element */
    display: flex; /* Use the Flexbox layout system */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
  }
  .login-close-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: -1px;
    margin-top: -1px;
    transform: rotateZ(45deg);
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      background: black;
    }
    &:before {
      height: 100%;
      width: 3px;
      left: 50%;
      transform: translateX(-50%);
    }
    &:after {
      height: 3px;
      width: 100%;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .login-window-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    box-shadow: none;
    border-radius: 0;
    
  }

  .forgotPasswordBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .forgotPassword-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the modal */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .forgotPassword-modal-window {
    width: 500px; /* Adjusted width to make the modal smaller */
    height: 210px; /* Adjusted height to fit the content */
    max-height: 70vh; /* Ensure it doesn't go beyond viewport height */
    overflow-y:auto; /* Add vertical scrolling if content overflows */
  }

  .forgotPassword-window-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: move;
  }


  .forgotPassword-close-icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: -1px;
  margin-top: -1px;
  transform: rotateZ(45deg);
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    background: black;
  }
  &:before {
    height: 100%;
    width: 3px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:after {
    height: 3px;
    width: 100%;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
  }
  .text-field-forgotPassword {
    margin-top: 10px;
    margin-bottom: 20px; /* Abstand zwischen Textfeld und Separator */
  }
  
  .inquiry-button {
    margin-left: 38.7%;
    margin-top: 10px; /* Abstand zwischen Separator und Button */
  }

  .success-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: darken background */
  }
  
  .success-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .success-window {
    width: 300px; /* Adjust width as needed */
  }
  
  .success-text{
    text-align: center;
  }