@font-face {
    font-family: 'ms_sans_serif';
    src: url('https://static-webfonts.netlify.app/ms-sans-serif/ms-sans-serift.ttf') format('truetype');
}

.playlistwindow {
    width: 90%;
    margin: 20px auto;
    border: 2px solid #000;
    box-shadow: none;
    border-radius: 0;
}

.window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c0c0c0;
    border-bottom: 2px solid #000;
    padding: 5px 10px;
    box-shadow: none;
    border-radius: 0;
}

.music-gallery {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    min-height: 400px;
}

.button-panel { 
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
}

.button-panel .button {
    width: 100%;
    margin-bottom: 10px;
}

.sidebar-separator {
    border: 1px solid #000;
    width: 100%;
}

.playlist-menu {
    padding: 10px;
    flex-grow: 1; 
    overflow-y: auto; 
}

.playlist-item {
    margin-bottom: 10px;
    text-align: left;
}

.playlist-link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease;
    display: inline;
}

.playlist-link:hover {
    color: #00aebd;
}

.playlist-content {
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 350px;
}

.playlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.playlist-header h2 {
    margin: 0;
}

.player-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.close-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: -1px;
    margin-top: -1px;
    transform: rotateZ(45deg);
    position: relative;
    &:before,
    &:after {
        content: '';
        position: absolute;
        background: #000;
    }
    &:before {
        height: 100%;
        width: 3px;
        left: 50%;
        transform: translateX(-50%);
    }
    &:after {
        height: 3px;
        width: 100%;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-window {
  width: 400px; /* Adjust width as needed */
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.input-container {
  margin-bottom: 1rem;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}
    
.context-menu {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
