.playlist-content-container {
  height: 350px;
  overflow-y: auto;
  border: none;
}

.playlist-content-scrollview {
  padding: 0;
}

.playlist-table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  border: none;
  padding: 10px;
  text-align: left;
}

.playlist-table-cell {
  text-align: left;
  padding: 10px;
  cursor: pointer;
}

.playlist-table-row.selected {
  background-color: #d3d3d3; /* Change to the desired highlight color */
}

.delete-song-context-menu {
  position: absolute;
  background: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
