.register-window {
  width: 550px; /* The width of the element to 100% of the parent element */
  height: 100%;
}

.register-container {
  position: absolute; /* Make the container absolutely positioned */
  top: 50%; /* Position it in the middle vertically */
  left: 50%; /* Position it in the middle horizontally */
  transform: translate(-50%, -50%); /* Center it */
  display: grid;
  justify-content: center; 
}

.register-header {
  margin-top: 37.7vh; /* Space from the top edge of the container in viewport height */
  width: 100%; /* The width of the element to 100% of the parent element */
  display: flex; /* Use the Flexbox layout system */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.register-close-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: -1px;
  margin-top: -1px;
  transform: rotateZ(45deg);
  position: relative;
}

.register-close-icon:before,
.register-close-icon:after {
  content: "";
  position: absolute;
  background: black;
}

.register-close-icon:before {
  height: 100%;
  width: 3px;
  left: 50%;
  transform: translateX(-50%);
}

.register-close-icon:after {
  height: 3px;
  width: 100%;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.register-window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  box-shadow: none;
  border-radius: 0;
  cursor: move;
}

.register-checkbox {
  display: flex; /* Use the Flexbox layout system */
  align-items: center; /* Center align the checkbox and label */
  margin-top: 1rem; /* Space from the top edge of the container */
}

.button-container {
  display: flex; /* Use the Flexbox layout system */
  justify-content: flex-end; /* Align the buttons to the right */
  margin-top: 1rem; /* Space from the top edge of the container */
}

.terms-link {
  color: inherit;
  cursor: pointer; /* Show pointer cursor to indicate it is clickable */
  text-decoration: none;
}

.terms-link:hover {
  color: #3366ff; /* Change text color to blue on hover */
  text-decoration: underline; /* Optional: add underline on hover */
}

.termsBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

}
.terms-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.terms-modal-window {
  width: 600px; /* Adjusted width to make the modal smaller */
  height: 400px; /* Adjusted height to fit the content */
  max-height: 70vh; /* Ensure it doesn't go beyond viewport height */
  overflow-y:auto; /* Add vertical scrolling if content overflows */
}
.terms-window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: move;
}
.register-close-icon{display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: -1px;
  margin-top: -1px;
  transform: rotateZ(45deg);
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    background: black;
  }
  &:before {
    height: 100%;
    width: 3px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:after {
    height: 3px;
    width: 100%;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.notes-scroll{
  width:50%;
  height: 18rem;
}

.terms-title {
  display: block;
  font-weight:bolder;
  margin-top: 1rem;
}
.welcome-text{
  display: block;
  font-weight:bolder;
  margin-top: 1rem;
}


.terms-text {
  display: block;
  margin-top: 0.5rem;
}

.terms-separator {
  margin: 1rem 0;
}
