
  .reset-password-container {
    position: absolute; /* Make the container absolutely positioned */
    top: 50%; /* Position it in the middle vertically */
    left: 50%; /* Position it in the middle horizontally */
    transform: translate(-50%, -50%); /* Center it */
    display: grid;
    justify-content: center; 
  }
  
  .reset-password-window {
    width: 550px; /* The width of the element to 100% of the parent element */
    height: 100%; 
  }
  


  .reset-button{
    align-items: center;
    display: flex; 
    justify-content: space-between; 
    margin-top: 2%; 
  }
  
  
  

  
 
  