.snake-game {
  width: 360px;
  height: 286px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-area {
  position: relative;
  width: 360px; /* 18 Zellen * 20px pro Zelle */
  height: 286px; /* 18 Zellen * 20px pro Zelle */
  background-color: #000;
  border: 5px solid #000;
}



.snake-segment, .food {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #0f0;
}

.food {
  background-color: red;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: wheat; /* Schriftfarbe auf Schwarz setzen */
}

.game-over p {
  font-size: 24px;
  margin-bottom: 2px;
  color: white;
  text-align: center; /* Zentriert den Text horizontal */
}

.game-over button {
  padding: 10px 20px;
  margin: 1rem;
  font-size: 16px;
  cursor: pointer;
}
