nav{
   background-color: #ffcadc;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2% 5%;
   width: 100%;
}

.logo{
    margin-left: 2rem;
    display: flex;
    height: 5rem;
    width: 3rem
}


.logo-image{
    width: 30%;
    height: 70%;
}