body {
  background-color: #ffcadc; /* Hintergrundfarbe der Webseite (Rosa) */
  text-align: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;  
  margin-top: 5%;
}

.window {
  width: 500px ;
}

.title-bar {
  padding: 2%;
}

.content {
  padding: 3%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

.button-container button {
  flex: 1;
  margin: 1%;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-top: 1rem;
}

.forgot-password {
  color: black;
  cursor: pointer;
  margin-left: auto;
}

.forgot-password:hover {
  color: #3366ff;
}

.close-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: -1px;
    margin-top: -1px;
    transform: rotateZ(45deg);
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      background: black;
    }
    &:before {
      height: 100%;
      width: 3px;
      left: 50%;
      transform: translateX(-50%);
    }
    &:after {
      height: 3px;
      width: 100%;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }